body {
	margin-top: 50px;
	margin-bottom: 50px;
}

.container {
	width: auto;
	max-width: 900px;
	padding: 0 15px;
}

.container .footer-text {
	margin: 20px 0;
}

.badge {
	background-color: #e4aa48;
}


.ztest-appear {
  opacity: 0.01;
}
 
.ztest-appear.ztest-appear-active{
  opacity: 2;
  transition: opacity 5s ease-in;
}