body {
	margin-top: 50px;
	margin-bottom: 50px;
}

.container {
	width: auto;
	max-width: 900px;
	padding: 0 15px;
}

.container .footer-text {
	margin: 20px 0;
}

.badge {
	background-color: #e4aa48;
}


.ztest-appear {
  opacity: 0.01;
}
 
.ztest-appear.ztest-appear-active{
  opacity: 2;
  transition: opacity 5s ease-in;
}

/*====================================*/
/* Scroll Example Code */
.zapp {
	width: 350px;
	margin: 0 auto;
}

.zscroller {
	margin: 0 auto;
	height: 300px;
	width: 300px;
	overflow: auto;

}

zitem {
	margin: 30px 0;
}

/* end Scroll Example */
/*====================================*/